<% #l = taglib("/lib/layout") %>
<% #l.main_panel do %>
    <h2>Pants</h2>
<p>This is a project<% #it.project %></p>
<% #end %>

<h2>asdflk;jasdkfljasdklfjas;dlkjf;adlskjfa;lkdsjf;aslkdjf;alsdkjfas;dlkj</h2>
